* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding-top: 3em;
    text-align: center;
    display: none;
    background: linear-gradient(to left, #003366, #073b6f, #1d4c7b, #366da3, #6699CC);
    /* border: 2px solid #000; */
}

#home{
    display: grid;
}

.body {
    /* position: relative; */
}

/* -------Bottom Navigation--------------- */
.navigation {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 35%;
    /* right: 30%; */
    padding: 3em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: max-content;
    border: 2px solid;
    /* background: linear-gradient(to left,#003366, #073b6f, #1d4c7b, #366da3, #6699CC); */
    padding: 4px 8px;
    
}


.nav__button {
    width: max-content;
    padding: .75em 1.25em;
    border-radius: 5px;
    /* border-radius:px; */
    background: linear-gradient(to left,#003366, #073b6f, #1d4c7b, #366da3, #6699CC);
    transition: .4s;
}

.nav__button:hover {
    background: black;
    color: white;
    /* font-size: 14px; */

}

/* ----------Main Body Containt------------- */

.body__content {
    margin: 0;
    /* background-color: #13121f; */
    /* height: 300vh; */
    /* height:300vh; */

}

.pages {
    /* background-color: red; */
    padding-top: 1em;
}



/* ---------TOp Navigation------------ */
.top__bar {
    position: fixed !important;
    top: 0;
    z-index: 1000;

}

.top__bar {
    display: flex;
    width: 100%;
    padding: 2px 3em;
    background-color: rgb(24, 24, 24);
    color: white;
    align-items: center;
}

.logo {
    width: 50%;
    padding: 0 4em;
}

.logo__text {
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
}

.logo__text:hover {
    cursor: pointer;
    color: orangered;
}

.register {
    width: 50%;
}

.register__items {
    display: flex;
    justify-content: flex-end;
    margin-right: 8em;

}

.as__button {
    border: 1px solid rgb(220, 214, 214);
    border-radius: 4px;
    margin: 4px;
    padding: .80em 1.6em;
    transition: .6s;
}

.as__button:hover {
    background-color: #f7f4f4;
    color: #000;
}

/* -----------explore Page-------------- */
.explore__page__options {

}

.genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genre__options {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.genre__card {
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px;
    padding: 1em;
}

.genre__card:hover {
    background-color: black;
    color: white;
}


/* --------------Gallery---------------- */
.gallery {
    text-align: left;
}

.gallery__logo {
    padding: .6em;
    /* border: 1px solid #000; */
    background-color: rgba(0, 0, 0, 0.653);
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    max-width: min-content;
    margin-left: 2em;
    font-size: 2rem;
    font-size: bolder;
    font-weight: 700;
}

.gallery__section {
    
    margin: 0;
}

.gallery__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    flex-wrap: wrap; */
}

.gallery__item {
    /* border: 2px solid red; */
    position: relative;
    margin-top: 2em;
    height: max-content;
    overflow: hidden;
    cursor: pointer;
    filter: blur(2px);
}
.gallery__item:hover{
    filter: blur(0);
}

.gi__image {
    background-color: inherit;
    /* filter: blur(4px); */
}

.gi__img {
    min-width: auto;
    max-width: 300px;
    min-height: 200px;
    max-height: auto;

}

.gi__text {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    /* transform: translatex(100%); */
    text-align: left;
    padding: 1em;
    background-color: #000000b1;
    color: white;
    min-width: min-content;
    max-width: 250px;
    transition: .9s;
}
.gi__button{
    background-color: white;
    color: black;
    margin-left: 45%;
    cursor: pointer;
    width: max-content;
    padding: 4px 8px;
}

.gallery__item:hover .gi__text {
    /* filter: blur(0); */
    transform: translateY(-20%);
    transform: translatex(18%);
    display: grid;
}

.gi__name {
    font-size: 1.5em;
}

.gi__info {}



/* ----------------  explore Page cards  -----------------  */

.explore__card {
    border: 3px solid #000;
    border-radius: 10px;
    margin: 1em;
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
}

.even__card {
    /* grid-template-columns: 2fr 1fr; */
}

.explore__card:hover {
    box-shadow: 1px 1px 4px 1px #000;
}

.card__info {
    display: grid;
    place-items: center;
}

.card__text {}

.card__title {
    /* margin: 0 0 0-3em; */
    font-size: 3em;
}


.card__images {
    border: 2px solid red;
}

/* ------changes-------- */
/* 
.explore__card{
    display: flex;
    flex-direction: row;    
}

.even__card{
    flex-direction: row-reverse;

}
.explore__img{
    width: 600px;
    height: 300px;
}


 */

/* --------------------------------HOME PAGE-------------------------------- */

.home {}

.hero__sections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
}

.hero {
    height: auto;
    /* background-color: black; */
}


.hero__item {
    /* border: 2px solid rgb(0, 0, 0);  */
    margin: 1em;
    /* background-color: #fff; */

}

/* 
.one_one{
    height: 75vh;
    background-color: red;
} */
.img_bdr {
    border: 2px solid black;
    /* overflow: hidden; */
}

/* .img_bdr:hover{
    border-radius: 10px;
    transform: scale(1.02);
    overflow: hidden; 
} */

.d300_600 {
    width: 300px;
    height: 600px;
    border: 2px solid black;
}

.d300_300 {
    width: 300px;
    height: 300px;
}

.d600_600 {
    width: 600px;
    height: 600px;
}

.d300_400 {
    width: 300px;
    height: 400px;
}

.three_one {
    height: 25vh;
    grid-row: span 1;
    background-color: red;
}

.hero_3 {
    grid-column: span 2;
}

.one_two {
    height: 45vh;
    background: linear-gradient(to top,#003366, #073b6f, #1d4c7b, #366da3, #6699CC);
    display: grid;
    place-items: center;
    text-align: left;
    font-size: 2em;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
.one_two:hover{
    background: linear-gradient(to bottom ,#000000, #181818, #3f3f3f, #646464, #989898);
    color:  #6699CC;
}
.hero__tag {
    font-size: 10px;
}

.two_three {
    display: grid;
    place-items: center;
    height: 25vh;
    width: 600px;
    font-size: 2em;
    border-radius: 10px;
    font-style: italic;
    font-family: 'Lucida Sans';
    background: linear-gradient(to top,#003366, #073b6f, #1d4c7b, #366da3, #6699CC);
}
.two_three:hover{
    background: linear-gradient(to bottom ,#000000, #181818, #3f3f3f, #646464, #989898);
    color:  #6699CC;
}
.three_four {
    display: flex;
}

/* -------------------Content Other than hero Section--------------- */



.hg__title{
    font-size: 6rem;
    text-align: left;
}

.hg__button{
    padding: auto;
    background-color: inherit;
    font-size: 4rem;
    text-align: left;
    border: 1px dotted;
    padding: 10px 1em 10px 1em;
    border-radius: 20px;
    color: white;
}
.hg__button:hover{
    background-color: #000;
    color: rgb(0, 119, 255);
    cursor: pointer;
}

.hg__decs{
    font-size: 1.5em;
    text-align: left;
}


.home__content{
    position: relative;
    min-height: 190vh;
}

.home__content:hover .home__gallery{
    /* filter: blur(0); */
    cursor: pointer;

}

.content{
    display: grid;
    grid-template-columns:1fr 1fr ;
    padding: 2em;
    margin: 4em;
    border: 2px solid rgb(0, 123, 255);
    border-radius: 20px;
    place-items: center;
    height: 50vh;
    position: absolute;
    color: white;
    background: linear-gradient(to left,#000000, #181818, #3f3f3f, #646464, #989898);
}


.home__gallery{
    top: 0;
}
.home__connect{
    top: 80vh;
}


/* -----------footerr------------- */

footer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: linear-gradient(to left,#003366, #073b6f, #1d4c7b, #366da3, #6699CC);
}

.f__title{
    display: grid;
    place-items: center;
    font-size: 2em;
}
.f_links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.link_1,
.f__links{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.f__links a{
    text-decoration: none;
    color: black;
    width: max-content;
    padding: 2px 5px;
    margin: 2px;
    border: 1px dotted black;
}
.f_links a:hover{
    background-color: black;
    color: white;
}

hr{
    margin: 0 3em;
    background-color: black;
}


/* -------------About Page --------- */
/* #about{
    background: url("https://png.pngtree.com/png-clipart/20230218/ourmid/pngtree-indian-festival-holi-color-splash-smoke-transparent-png-image_6603525.png");
    background-repeat: no-repeat;
    height: 100vh;
    filter: opacity();
} */
.spread__color{
    position:sticky;
    width: 800px;
}
.about1_text{
    position: absolute;
    display: grid;
    top: 0;
    /* place-items: center; */
}

.about1_title{
    font-size: 6em;
}
.about1_description{
    padding: 5em;
    border-radius: 20px;
    background: #0000007e;
    color: white;
    font-size: 1.5em;
}
.about1_description:hover{
    box-shadow: 0em .5em 2em .5em #000000b4;
}

.about1_text,
.about2_text,
.about3_text,
.about4_text,
.about5_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 80vh;
    margin: 0 2em;
    padding: 2em;
    /* background-color: red; */
}


.about1_text{}
.about2_text,
.about3_text,
.about4_text,
.about5_text{
}


/* ----------------Buy Section------------- */

.card__img{
    position: relative;
}
.payment{
    display: grid;
    place-items: center;
}

.buy_info{
    position: absolute;
    top: 0;
    margin:5em;
    margin-top: 10em;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    border: 2px solid;
    border-radius: 30px;
    padding: 4em;
    background-color: rgba(0, 0, 0, 0.4);
}
.thx_msg{
    font-size: 4em;
    color: rgb(92, 176, 244);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#card-number{
    padding: 6px;
}

label,
input{
    margin: 10px;
    color: white;    
    font-weight: bolder ;
    font-size: 1.5em;
}
input{
    background-color: #00000046;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cd_button{
  padding: 10px 20px;
  background: linear-gradient(to left,#003366, #073b6f, #1d4c7b, #366da3, #6699CC);
  color: black;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}
.cd_button:hover{
    background-color: #000;
    color: white;
}


/* ----------------Connect ----------- */
.profiles{
    margin: 4em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}

.profile{
    height: auto;
    padding: 2em;
    border-radius: 40px;
    background-color: #ffffff50;
}
.p_info{
    padding: 4em 3em;
}
.p_img{
    width: 200px;
    border-radius: 20px;
}

.p_name{
    font-size: 2em;
    font-weight: bolder;
}



