:root {
    --title-color: rgba(184, 184, 228, 0.733);
    --subtitle-color: rgb(160, 160, 219);
    --third-color: rgba(38, 40, 43, 0.404);

    --bg-color: rgba(232, 232, 236, 0.797);

    /* --bg-first: rgb(110, 110, 220);
    --bg-second: rgb(97, 97, 210);
    --bg-third: rgb(70, 70, 180);
    --bg-fourth: rgb(71, 71, 141);
    --bg-fifth: rgb(50, 50, 160); */

}

* {
    margin: 0;
    padding: 0;
    /* color: #fff; */
    /* font-family: chiller;     */
}

hr {
    margin: 0 7em;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg-color);
    /* border: 1px solid black; */
}

.primary__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin: 1em;
    padding: 1em;
    /* background-color: #980; */
}

.navigation {
    /* padding: 10px; */
    /* border-radius: 50px 0px 20px 20px; */
    overflow: hidden;
}

.profile {
    /* background-color: red; */
    height: max-content;
}

.profile__image__background {
    /* background-color:var(--subtitle-color); */
    border-radius: 50%;
    width: max-content;
    height: 100px;
}

.profile__image {
    width: 100%;
    height: 100px;
    border-radius: inherit;
    transition: .3s;
}

.profile__image:hover {
    transform: scale(1.09);
    filter: drop-shadow(0px 5px 10px #696262b0);
}


.profile_name {
    font-size: 2em;
    font-weight: bolder;
    margin-left: 12px;
}

.job__profile {
    margin-left: 1.5em;
    display: flex;
    /* justify-content: center; */
}

.job__image {
    height: 20px;
}


.nav__bar {
    text-align: center;
    margin-top: 3em;
    padding-bottom: 3em;
}

.main__nav {
    background-color: var(--title-color);
    border-radius: 50px 0px 20px 20px;
}

.nav__items {
    /* background-color: var(--title-color);    */
    display: grid;
    place-items: center;
    gap: 10px;
    /* margin-top: 3em; */
}

.nav__item {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin: 3px;
    padding: .55em 1.25em;
    width: max-content;

}

.nav__item:hover {
    background-color: var(--subtitle-color);
    border-radius: 10px;
    font-weight: bolder;

}

.nav__images {
    height: 30px;
}

.logo__text {
    font-size: 4em;
}

/* ===========================
-----------Hero----------------
============================ */


.hero {
    /* background-color: black; */
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.hero__skills {
    /* background-color: orange;  */
    padding: 5px;
}

.skill_title {
    font-size: 30px;
    font-weight: bold;
    margin: 4px;
}

.skill__items {
    /* background-color: #789; */
    border-radius: 0 50px 50px 50px;
    padding: 5em;
    padding-bottom: 0;
}

.skill__head {
    display: flex;
}


.skills {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}

.skill {
    display: flex;
    margin: 5px;
    padding: .75em 1.25em;
    padding: 4px;
    transition: .3s;
    border-radius: 5px;
    border: 1px solid black;
    border-width: 0 1px 0 1px;
}

.skill:hover {
    /* transform: scale(1.05); */
    filter: drop-shadow(10px 10px 10px #696262b0);
}


.skill__icon {
    height: 30px;
}

.skill__name {
    font-size: 20px;
}

.connect_link {
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}



.connect {
    margin: 5px;
    /* background-color: var(--bg-second); */
    border-radius: 0 10px 10px 10px;
    padding: .75em;
    display: flex;
    justify-content: center;
}

.connect__button {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    padding: 10px 20px;
    border: .1px dotted black;
    border-radius: 10px;
    margin: 0 1em;
    font-size: 1.25em;
}

.button__image {
    height: 1.25em;
}

.connect__button:hover {
    background-color: var(--third-color);
    border: 1px solid black;
    border-radius: 10px;
    /* font-weight: bolder; */

}

.hero__image,
.the__image {
    margin-top: 3em;
    /* background-color: red; */
    display: grid;
    place-content: center;
}

.hero__image__background {
    overflow: hidden;
    background-color: rgba(198, 198, 235, 0.546);
    ;
    /* box-shadow: 10px 10px 5em 1em var(--subtitle-color) ; */
    /* border-radius: 300px 500px 180px 10px ; */
    border-radius: 30px;
}

.the__image:hover {
    filter: drop-shadow(0px 4em 4em #e6ae09e8);

}

.hero__profile {
    height: 300px;
}

.flex {
    display: flex;
}

.links {
    /* background-color: #350269; */
    margin: 3em;
    padding: 0 1em;
}

.professional__links {
    display: flex;
    justify-content: center;
    /* background-color: #a4279c; */
}

.pro__element {
    padding: 10px;
}

.pro__icon {
    height: 30px;
}

.pro__icon:hover {
    filter: drop-shadow(0px 5px 10px #46424286);
}

.job__profile {
    font-style: bolder;
}

.logo__text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}


/* ============================
----------About---------------
============================== */

.about {
    /* background-color: #000; */
}

.container {
    margin: 5em;
    padding: 1em;
}

.about__container {
    background-color: var(--title-color);
    border-radius: 2em;
    margin: 5em;
    padding: 1em;
}

.about__title {
    display: flex;
}

.about__image {
    height: 30px;
}

.the__about {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
    /* background-color: #490; */
    padding: 2em 5em 2em 2em;
    margin: 3px;
}

.about__text_ {
    margin: 3px;
}

/* ===================================
-------------Projects and Works------
 ==================================*/

.the__project {
    font-size: 30px;
    font-weight: bold;
}

.project__containt {
    /* background-color: red; */
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -9em;
}

.project__card {
    /* background-color: #c39a9a; */
    /* position: absolute; */
    display: flex;
    /* border: 2px solid; */
    overflow: hidden;
    border-radius: 10px;
    margin: 1em;
    transition: .4s;
    width: 600px;
}

.project__card:hover {
    background-color: var(--title-color);
}

.project__card:hover .project__details {
    background-color: #fff;
}


.project__image {
    display: grid;
    place-items: center;
}

.project__img {
    max-width: 80%;
    height: auto;
}

.project__data {
    margin: 1em;
}

.project__text {
    padding: 1em;
}

.project__title {
    font-size: 1.5em;
    margin: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project__description {
    margin: 0 0 0 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* .project__buttons {} */

.project__details {
    background-color: var(--title-color);
    margin: 0 2em;
    padding: 4px 8px;
}

/* .project__details:hover{
    background-color: #fff;
} */



/* =============  Certificates  ========================== */

.certificate {
    background-color: var(--title-color);
    border-radius: 20px;
    width: max-content;
    /* height: max-content; */
    padding: 3em;
}

.section__title {
    display: flex;
}

.cert__section__title {
    font-size: 30px;
    font-weight: bold;
}

.section__title img {
    width: 30px;
    /* height: 10px; */
}

.certificates {
    display: flex;
    display: flex;
    justify-content: center;
}

.certifivate__card {
    width: 300px;
    margin: 10px;
}

.cert__image {
    position: absolute;
    width: 300px;
}

.certificate_data {
    background-color: var(--third-color);
    position: relative;
    padding: 1.25em;
    border-radius: 20px;
    margin: 1em;
    transition: .4s;
    visibility: hidden;
}

.the__certificate:hover .certificate_data {
    transform: translatey(100%);
    visibility: visible;
}

.cert__title {
    font-size: 1.25em;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------------  contact  ----------------- */
.contact{
    /* background-color: #000; */
    margin: 5em 0;
    /* padding: em; */
}

.contact__title{
    display: flex;
    font-size: 20px;
}

.contact__section {
    padding: 2em;
}




.contact__form{
    display: grid;
    row-gap: 1em;
    padding: 4em;
}


.user__details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1em;
}

.user__detail {
    border-radius: 10px;
    padding: 1.25em 4.75em;
    text-align: center;
    font-weight: bold;
    /* background-color: rgba(96, 48, 48, 0.308); */
}

.user__message {
    height: 11rem;
    resize: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

.contact__button{
    width: max-content;
    display: grid;
    place-content: center;
    padding: .75em 1.25em;
    margin-left: 40%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

footer{
    background-color: #000000c3;
    color: #fff;
    padding: 3em;
}

.foot{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.footer__icon{
    margin: 1em;
    cursor: pointer;
}